$font-text: Roboto, sans-serif;
$font-headline: Montserrat, sans-serif;

$size-mini: 0.8em;
$size-large: 2em;
$size-normal: 1em;

$weight-light: 300;
$weight-normal: 400;
$weight-strong: 500;
$weight-stronger: 700;